Source: easyvdr-xineliboutput
Section: misc
Priority: optional
Maintainer: Martin Neubauer <martin@easy-vdr.de>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.9.5

Package: easyvdr-xineliboutput
Architecture: all
Depends: ${misc:Depends}, vdr-plugin-xineliboutput
Description: Xineliboutput Config package for easyVDR
  Installationspaket for Xineliboutput
