[Unit]
Description=Easyvdr Desktop
Documentation=man:lightdm(1)
Conflicts=getty@tty7.service plymouth-quit.service
After=systemd-user-sessions.service getty@tty7.service plymouth-quit.service easyvdr-systemstart.service

[Service]
# temporary safety check until all DMs are converted to correct
# display-manager.service symlink handling
ExecStart=/usr/lib/easyvdr/easyvdr-start/systemd/easyvdr-desktop
ExecStartPost=/usr/lib/easyvdr/easyvdr-start/systemd/easyvdr-desktop-post
Restart=always
BusName=org.freedesktop.DisplayManager
StandardOutput=syslog
StandardError=syslog

