# store sound card(s') mixer state(s)
#		16.03.2020 Bleifuss


[Unit]
Description=Easyvdr Store Alsa Mixer Volume
Before=poweroff.target halt.target shutdown.target
Requires=poweroff.target

[Service]
Type=simple
ExecStart="/usr/lib/easyvdr/easyvdr-start/systemd/easyvdr-alsa-store"
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=shutdown.target

