Source: vdrsymbols-ttf
Section: misc
Priority: optional
Maintainer: Uwe Kiehl <uwe@easy-vdr.de>
Origin: easyVDR
Standards-Version: 4.1.2
Build-Depends: debhelper (>=9), cdbs

Package: vdrsymbols-ttf
Architecture: any
Replaces: vdrsymbols-ttf-installer
Description: VDRSymbols font 
 This package allows for easy installation of the VDRSymbols font

