# User defined Makefile options for anthra_HD


###### The directory environment:

DESTDIR ?= 
PREFIX  ?= /usr
CONFDIR  = $(if $(subst /usr,,$(PREFIX)), $(PREFIX))/var/lib/vdr
SKINDIR  = $(CONFDIR)/plugins/text2skin/$(SKIN)
THEMESDIR  = $(CONFDIR)/themes
LOCDIR   = $(PREFIX)/share/locale

###### SKINOPTIONS:

##### to comment an option just place a '#' at the beginning of the line
##### to uncomment an option please remove the leading '#'
##### !!! Take care to uncomment only ONE option in each section !!!

##### CHANNELLOGOS
#NOLOGOS = 1
#LOGOSRIGHT = 1
LOGOSLEFT = 1

###### path to the channellogos, escape slashes with backslashes!
###### e.g. CHANNELLOGOSPATH = \/etc\/vdr\/plugins\/text2skin\/liquid-logos4anthra_HD
CHANNELLOGOSPATH = \/var\/lib\/vdr\/plugins\/text2skin\/liquid-logos4anthra_HD

###### MENULOGOS
MENULOGOS = 1

###### EPGIMAGES
EPGIMAGES = 1

###### path to the epgimages, escape slashes with backslashes!
###### e.g. EPGIMAGESPATH=\/etc\/vdr\/plugins\/tvm2vdr\/epgimages
EPGIMAGESPATH =\/var\/cache\/vdr\/epgimages

###### EPGIMAGESFORMAT
###### default EPGIMAGESFORMAT is png, uncomment the following line, if you have jpgs
EPGIMAGESJPG = 1

###### TIMER-INFO_MAIN-MENU
TIMER-INFO_MAIN-MENU = 1

###### MENUITEMHEIGHT
#SMALLHEIGHT = 1
DEFAULTHEIGHT = 1

###### MENUMARQUEE
NOMARQUEE = 1
#MARQUEE = 1

###### MENUFONTS
#SMALLMENUFONT = 1
DEFAULTMENUFONT = 1
#LARGEMENUFONT = 1
###
