Source: easyvdr-depends
Section: misc
Priority: optional
Maintainer: Martin Neubauer <none@easy-vdr.de>
Standards-Version: 4.1.2
Build-Depends: debhelper (>= 9)

Package: easyvdr-depends
Architecture: any
Depends: ${misc:Depends}, ${easyvdr-depends}
Description: Depends Package for easyVDR
