Source: plymouth-theme-easyvdr-logo
Section: x11
Priority: optional
Maintainer: Martin <none@easy-vdr.org>, Wolfgang Mangold <vdr@gmx.de>
Uploaders: Wolfgang Mangold <vdr@gmx.de>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5

Package: plymouth-theme-easyvdr-logo
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, plymouth, plymouth-label
Provides: plymouth-theme
Replaces: plymouth (<< 0.8.1-1~)
Description: graphical boot animation and logger - easyVDR-logo theme
 Plymouth is an application that runs very early in the boot process
 (even before the root filesystem is mounted!) that provides a graphical
 boot animation while the boot process happens in the background.
 .
 This package contains the easyvdr logo theme.
 .
 These theme may not correctly display messages from filesystem
 decryption, checking or error handling.
