Source: easyvdr-artwork
Section: video
Priority: extra
Maintainer: Martin easyVDR <easyvdr-dev@easy-vdr.de>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.5

Package: easyvdr-artwork
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts:
Description: Logos and Backgrounds


