Source: w-scan
Section: video
Priority: extra
Maintainer: Debian VDR Team <pkg-vdr-dvb-devel@lists.alioth.debian.org>
Uploaders: Tobias Grimm <etobi@debian.org>, Wolfgang Mangold <vdr@gmx.de>
Build-Depends: debhelper (>= 9), linux-libc-dev (>= 3.0)
Standards-Version: 3.9.5
Vcs-Git: git://git.debian.org/git/pkg-vdr-dvb/w-scan.git
Vcs-Browser: http://git.debian.org/?p=pkg-vdr-dvb/w-scan.git
Homepage: http://wirbel.htpc-forum.de/w_scan/index2.html

Package: w-scan
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Channel scanning tool for DVB and ATSC channels
 w_scan scans for DVB-S/S2, DVB-T, DVB-C and ATSC channels and creates a
 channels.conf, that can be used directly by the Linux Video Disc Recorder VDR.
 It is also possible to output channels in a format readable by the
 czap/tzap tools provided by linuxtv-dvb-zap, xine, totem, kaffeine or me-tv.
 .
 Unlike the scan utility in linuxtv-dvb-apps, there is no need to specify
 an initial transponder and w_scan automatically detects the DVB or ATSC
 card to be used.
