KERNEL=="js[0-99]*", GROUP="easyvdr"
KERNEL=="event[0-99]*", ATTRS{name}=="Microsoft X-Box 360 pad", GROUP="easyvdr"
KERNEL=="event[0-99]*", ATTRS{name}=="Xbox 360 Wireless Receiver", GROUP="easyvdr"
KERNEL=="event[0-99]*", ATTRS{name}=="ACRUX USB GAMEPAD 8116", GROUP="easyvdr"

#Funktioniert nicht
#KERNEL=="event[0-99]*", ENV{.INPUT_CLASS}=="joystick", GROUP="easyvdr"
#KERNEL=="js[0-9]*", SYMLINK+="input/event1%n", GROUP="easyvdr"

