# User defined Makefile options for vdr-skin-anthra-sd


###### The directory environment:

DESTDIR ?= 
PREFIX  ?= /usr
CONFDIR  = $(if $(subst /usr,,$(PREFIX)), $(PREFIX))/etc/vdr
SKINDIR  = $(CONFDIR)/plugins/text2skin/$(SKIN)
THEMESDIR  = $(CONFDIR)/themes
LOCDIR   = $(PREFIX)/share/locale



###### SKINOPTIONS:


###### to comment an option just place a '#' at the beginning of the line
###### to uncomment an option please remove the leading '#'
###### !!! Take care to uncomment only ONE option for CHANNELLOGOS !!!

###### CHANNELLOGOS ######
#NOLOGOS = 1
LOGOSLEFT = 1

###### path to the channellogos, escape slashes with backslashes! ######
###### e.g. CHANNELLOGOSPATH = \/etc\/vdr\/plugins\/text2skin\/liquid-logos4anthra_SD #####
CHANNELLOGOSPATH=..\/liquid-logos4anthra_SD

###### EPGIMAGES ######
EPGIMAGES = 1

###### path to the epgimages, escape slashes with backslashes! ######
###### e.g. EPGIMAGESPATH = \/etc\/vdr\/plugins\/tvm2vdr\/epgimages ######
EPGIMAGESPATH=\/etc\/vdr\/plugins\/tvm2vdr\/epgimages

###### EPGIMAGESFORMAT #####
####### default EPGIMAGESFORMAT is png, uncomment the following line, if you have jpgs ######
#EPGIMAGESJPG = 1

##### NOMARQUEE ######
#NOMARQUEE = 1


