# User defined Makefile options for anthra_HD

###### The directory environment:

DESTDIR ?= 
PREFIX  ?= /usr
CONFDIR  = $(if $(subst /usr,,$(PREFIX)), $(PREFIX))/var/lib/vdr
SKINDIR  = $(CONFDIR)/plugins/text2skin/$(SKIN)
THEMESDIR  = $(CONFDIR)/themes
LOCDIR   = $(PREFIX)/share/locale




###### SKINOPTIONS:

##### to comment an option just place a '#' at the beginning of the line
##### to uncomment an option please remove the leading '#'


########################################################################
##### !!! Take care to uncomment max ONE option in each section !!!#####
########################################################################


###### MENUHEIGHT  #####
# height of menuentries
HEIGHT58 = 1 
#HEIGHT68 = 1

##### VIDEOSIZE #####
# shows the current videosize in channelInfo
# if you uncomment this option, be aware to have text2skin with patch from here:
# http://projects.vdr-developer.org/issues/465
# or recent git-version,
# otherwise text2skin will not accept the skinfile!
#VIDEOSIZE = 1
#####################

##### CHANNELLOGOS ######
#NOLOGOS = 1
LOGOSRIGHT = 1
#LOGOSLEFT = 1

###### path to the channellogos, escape slashes with backslashes! ######
###### e.g. CHANNELLOGOSPATH = \/etc\/vdr\/plugins\/text2skin\/liquid-channel-logos4anthra #####
CHANNELLOGOSPATH = ..\/liquid-logos4anthra_HD

##### SEPARATORLOGOS ######
#SEPARATORLOGOS-LEFT = 1
SEPARATORLOGOS-RIGHT = 1

###### path to the channellogos, escape slashes with backslashes! ######
###### e.g. SEPARATORLOGOSPATH = \/etc\/vdr\/plugins\/text2skin\/Separatorlogos #####
SEPARATORLOGOSPATH = ..\/Separatorlogos

###### Number of visible mainmenuentries ######
# less number of entries moves the menu to the middle of screen height
#!!!!dont't touch!!!!
#!!!!not implemented yet!!!!
#text2skin don't like this :( 
#MAINMENU_12 =
#MAINMENU_10 =
#MAINMENU_08 =
#MAINMENU_06 =
#################################

###### MENULOGOS  #####
MENULOGOS = 1
#NOMENULOGOS = 1

###### EPGIMAGES ######
EPGIMAGES = 1

###### path to the epgimages, escape slashes with backslashes! ######
###### e.g. EPGIMAGESPATH=\/etc\/vdr\/plugins\/tvm2vdr\/epgimages ######
EPGIMAGESPATH =\/var\/cache\/vdr\/epgimages

###### EPGIMAGESFORMAT #####
####### default EPGIMAGESFORMAT and RECORDINGIMAGEsFORMAT is png, uncomment the following line, if you have jpgs ######
EPGIMAGESJPG = 1

###### RECORDINGIMAGES #####
RECORDINGIMAGES = 1

###### Filename of RECORDINGIMAGE
RECORDINGIMAGENAME = thumbnail

###### TIMER-INFO_MAIN-MENU ######
TIMER-INFO_MAIN-MENU = 1
RUNNING_TIMER_BLINK = 1

###### MAINMENUFONTS ######
#SMALLMENUFONT = 1
DEFAULTMENUFONT = 1
#LARGEMENUFONT = 1


##### SIGNAL ######
#DIGIT_SIGNAL = 1
GRAPH_SIGNAL = 1

#####!!!only for yaVDR-users!!!#####
##### yaVDRMENULOGOS_de, yaVDRMENULOGOS_en #####
#yaVDRMENULOGOS_de = 1
#yaVDRMENULOGOS_en = 1

