Source: fonts-sourcesanspro
Section: fonts
Priority: optional
Maintainer: Wolfgang Mangold <vdr@gmx.de> 
Uploaders: Wolfgang Mangold <vdr@gmx.de> 
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: http://www.google.com/fonts#UsePlace:use/Collection:Source+Sans+Pro

Package: fonts-sourcesanspro
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}, fontconfig
Pre-Depends: dpkg (>= 1.15.6~)
Description: Adobe Source Sans Pro


