/media/easyvdr01;Verzeichnis;0;*mp2/*.mp3/*.ogg/*.wav/*.MP2/*.MP3/*.OGG/*.WAV/*.m3u/*.M3U/*.pls/*.PLS
/media/easyvdr01/mp3;MP3;0;*mp2/*.mp3/*.ogg/*.wav/*.MP2/*.MP3/*.OGG/*.WAV/*.m3u/*.M3U/*.pls/*.PLS
/media/easyvdr01/convert/traco;Traco-Server;0;*mp2/*.mp3/*.ogg/*.wav/*.MP2/*.MP3/*.OGG/*.WAV/*.m3u/*.M3U/*.pls/*.PLS
/media/easyvdr01/net-radio;Internet-Streams;0;*.mp3/*.ogg/*.wav/*.MP3/*.OGG/*.WAV/*.pls/*.PLS/*.m3u/*.M3U
/media/easyvdr01/usb;USB-Drive;0;*mp2/*.mp3/*.ogg/*.wav/*.MP2/*.MP3/*.OGG/*.WAV/*.m3u/*.M3U/*.pls/*.PLS
#/mnt/nfs/mp3;Remote NFS;0
#/mnt/cdrom;CDROM;1
#/mnt/cdfs;CD-Audio;1;*.wav