Source: easyvdr-extra-depends2
Section: misc
Priority: optional
Maintainer: Martin Neubauer <none@easy-vdr.de>
Standards-Version: 3.9.5
Build-Depends: debhelper (>= 7)

Package: easyvdr-extra-depends2
Architecture: any
Depends: ${misc:Depends}, ${easyvdr-extra-depends2}
Description: Optional depends packages for easyVDR
