Source: easyvdr-lists
Section: misc
Priority: optional
Maintainer: Uwe Kiehl <uwe@easy-vdr.de>
Build-Depends: debhelper (>= 8), cdbs
Standards-Version: 3.9.5

Package: easyvdr-lists
Architecture: any
Depends: ${misc:Depends}, ${easyvdr-lists} 
Description: List Package for easyVDR
  Listen-Installationspaket für easyVDR
