#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk



#Build architecture-independent files here.
binary-indep: build install
	dh_shlibdeps -i
	dh_gencontrol -i
	dh_md5sums -i
	dh_builddeb -i

# Build architecture-dependent files here.
binary-arch: build install
	dh_gencontrol -a
	dh_md5sums -a
	dh_builddeb -a

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure \
        clean-patched patch unpatch

