Source: easyportal
Section: misc
Priority: optional
Maintainer: Andreas Schott <sinai@easy-vdr.de>
Origin: easyVDR
Build-Depends: debhelper (>> 4.1.16), cdbs
Standards-Version: 3.9.5

Package: easyportal
Architecture: any
Depends: ${easyportal}, ${misc:Depends}, lighttpd | apache2, ajaxterm, shellinabox, php7.4-common, php7.4-cgi, vdr, zip, php7.4-gd, php7.4-mysql
Description: Web-Frontend for easyVDR
