Source: vdr-addon-lifeguard
Section: misc
Priority: optional
Maintainer: Malte Forkel <malte.forkel@berlin.de>
Uploaders: Wolfgang Mangold <vdr@gmx.de>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: vdr-addon-lifeguard
Architecture: any
Depends: vdr (>=1.2.6-27)
Description: Check whether VDR should shutdown the machine
 Perform various tests specified by the user when VDR wants
 to shutdown the machine. Shutdown is postponed if any of
 the tests indicate, that there are other processes that
 should not be interrupted.
