Source: easyvdr-nvidia-latest
Section: misc
Priority: optional
Maintainer: Uwe Kiehl <uwe@easy-vdr.de>
Standards-Version: 3.9.4
Build-Depends: debhelper (>= 7)

Package: easyvdr-nvidia-latest
Architecture: any
Depends: ${misc:Depends}, ${easyvdr-nvidia-latest}, nvidia-driver-440, nvidia-settings
Conflicts:xvba-va-driver,fglrx,fglrx-amdcccle,nvidia-340,nvidia-driver-390
Description: latest nvidia driver
  Metapackage for nvidia driver
