Source: vdr-plugin-graphlcd
Section: video
Priority: extra
Maintainer: Debian VDR Team <pkg-vdr-dvb-devel@lists.alioth.debian.org>
Uploaders: Tobias Grimm <etobi@debian.org>, Thomas Günther <tom@toms-cafe.de>, Thomas Schmidt <tschmidt@debian.org>, Wolfgang Mangold <vdr@gmx.de>
Origin: ctvdr
Build-Depends: debhelper (>= 9), vdr-dev (>= 2.2.0), libglcddrivers1-dev (>= 0.1.9), libglcdgraphics2-dev (>= 0.1.9), libfreetype-dev | ibfreetype6-dev, libglcdskin1-dev, pkg-config
Standards-Version: 3.9.5
Homepage: http://projects.vdr-developer.org/git/vdr-plugin-graphlcd.git/log/?h=touchcol


Package: vdr-plugin-graphlcd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${vdr:Depends}, graphlcd-tools, libserdisp-dev
Description: GraphLCD Plugin for VDR
 A plugin to support graphical LC Displays with VDR.

Package: vdr-plugin-graphlcd-dbg
Architecture: any
Section: debug
Priority: extra
Depends: vdr-plugin-graphlcd (= ${binary:Version}), ${misc:Depends}
Description: debugging symbols for vdr-plugin-graphlcd
 .
 This package contains only the debugging symbols for vdr-plugin-graphlcd

