#!/usr/bin/make -f

#DH_VERBOSE=1

MAKE_OPTIONS = AUTOCONFIG=0 USE_PINPLUGIN=1 USE_GRAPHTFT=1 PLUGIN_EPGSEARCH_MAX_SUBTITLE_LENGTH=255

.PHONY: override_dh_strip override_dh_auto_install

override_dh_auto_build:
	dh_auto_build -- $(MAKE_OPTIONS)

override_dh_gencontrol:
	sh /usr/share/vdr-dev/dependencies.sh
	dh_gencontrol

override_dh_strip:
	dh_strip --dbg-package=vdr-plugin-epgsearch-dbg

override_dh_auto_install:
	dh_auto_install --destdir=debian/vdr-plugin-epgsearch

%:
	dh $@

