#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk

DEB_INSTALL_CHANGELOGS_ALL = HISTORY

MAKE_OPTIONS = VDRDIR=/usr/include/vdr LIBDIR=. LOCALEDIR=locale

common-build-arch::
	$(MAKE) all $(MAKE_OPTIONS)

override_dh_strip:
	dh_strip --dbg-package=vdr-plugin-markad-dbg

cleanbuilddir::
	$(MAKE) -o .dependencies clean $(MAKE_OPTIONS)
	rm -rf libvdr-*.so.* */locale

common-binary-predeb-arch::
	sh /usr/share/vdr-dev/dependencies.sh

get-vcs-snapshot:
	sh debian/get-vcs-snapshot.sh
