Source: vdr-plugin-systeminfo
Section: video
Priority: extra
Maintainer: easyVDR-Developer <easyvdr-dev@easy-vdr.de>
Uploaders: Wolfgang Mangold <vdr@gmx.de
Build-Depends: debhelper (>= 9), vdr-dev (>= 2.2.0), pkg-config, gettext, dpatch, cdbs
Standards-Version: 3.9.7
Homepage: http://firefly.vdr-developer.org/systeminfo/

Package: vdr-plugin-systeminfo
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${vdr:Depends}, lm-sensors
Description: This VDR-plugin displays system informations
 This plugin for VDR displays system informations like CPU type and speed, 
 disk and swap space etc.

Package: vdr-plugin-systeminfo-dbg
Architecture: any
Section: debug
Priority: extra
Depends: vdr-plugin-systeminfo (= ${binary:Version}), ${misc:Depends}
Description: debugging symbols for vdr-plugin-systeminfo
 .
 This package contains only the debugging symbols for vdr-plugin-systeminfo
