Source: vdr-plugin-smarttvweb
Section: video
Priority: extra
Maintainer: T. Lohmar <smarttv640@gmail.com>
Uploaders: Wolfgang Mangold <vdr@gmx.de>
Build-Depends: debhelper (>= 9), pkg-config, vdr-dev
Standards-Version: 3.9.5
Homepage: http://projects.vdr-developer.org/projects/plg-smarttvweb
#Vcs-Git: git://git.debian.org/collab-maint/vdr-plugin-smarttvweb.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/vdr-plugin-smarttvweb.git;a=summary

Package: vdr-plugin-smarttvweb
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: VDR on SmartTV

Package: vdr-plugin-smarttvweb-dbg
Architecture: any
Section: debug
Priority: extra
Depends: vdr-plugin-smarttvweb (= ${binary:Version}), ${misc:Depends}
Description: debugging symbols for vdr-plugin-smarttvweb
 .
 This package contains only the debugging symbols for vdr-plugin-smarttvweb
