[Unit]
Description=Easyvdr Setup
Conflicts=getty@tty7.service plymouth-quit.service
After=systemd-user-sessions.service getty@tty7.service plymouth-quit.service 
Before=display-manager.service


[Service]
#Type=simple
Type=idle
#Type=oneshot
#ExecStartPre=
#ExecStart=/usr/share/easyvdr/setup/easyvdr-setup-starter
ExecStart=/sbin/getty -8n 38400 tty4 -l /usr/share/easyvdr/setup/easyvdr-setup-starter


#Restart=always
#RemainAfterExit=yes
StandardInput=tty
TTYPath=/dev/tty4
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes
StandardOutput=syslog
StandardError=syslog


[Install]
WantedBy=multi-user.target

