Source: vdr-plugin-undelete
Section: video
Priority: extra
Maintainer: easyVDR-Developer <easyvdr-dev@easy-vdr.de>
Uploaders: Wolfgang Mangold <vdr@gmx.de>
Origin: ctvdr
Build-Depends: debhelper (>= 8), vdr-dev (>= 2.0.0), pkg-config
Standards-Version: 3.9.4
Homepage: http://projects.vdr-developer.org/projects/plg-undelete 

Package: vdr-plugin-undelete
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${vdr:Depends}
Description: Plugin for VDR to undelete or purge recently deleted recordings
 VDR doesn't physically erase recordings immediately after deleting them.
 This plugin gives you the chance to undelete recordings, before VDR truly
 erases them.

Package: vdr-plugin-undelete-dbg
Architecture: any
Section: debug
Priority: extra
Depends: vdr-plugin-undelete (= ${binary:Version}), ${misc:Depends}
Description: debugging symbols for vdr-plugin-undelete
 .
 This package contains only the debugging symbols for vdr-plugin-undelete

