/*  Style: She sells seashells

Farben: FFEFD3 FFFEE4 D0ECEA 9FD6D2 8B7A5E

body 
#kopf1
.button
.button:hover
.button_a

#kopf2
#inhalt
.button2
.button2:hover
.button2_a

.links
.rechts
.clear

.Container
.title
.icon
.ContainerInhalt

#fuss

.wait
.verbergen
.tab1

*/

* {       
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  list-style: none;
  margin: 0;
/*  padding: 0; */
  text-decoration: none;
}

body {
  background-color: #9FD6D2;
  margin: 1px;
}


/********************* Navigation ********************/


nav.navi1 ul {
  margin: 0; 
  text-align: center;
}

nav.navi1 li {
  display: inline-block;
  list-style: none;
  margin: 0.2em; 
  padding: 0;
}

nav.navi1 a {
  background-color: #D0ECEA;
  color: black;
  display: block;
  font-size: 12px;
  padding: 4px 8px;
  text-decoration: none;
}

nav.navi1 a:hover {
  background-color: #8B7A5E;
  color: white;
  display: block;
  text-shadow: 0px 1px 0px #2f6627;
}

nav.navi1 a.pressed { 
  background-color: #FFFEE4;
  color: black;
  display: block;
  font-size: 12px;
  padding: 4px 8px;
  text-shadow: 0px 1px 0px #2f6627;
}

/*** Navi 2 ***/

nav.navi2 ul {
  margin: 0; 
  text-align: center;
}

nav.navi2 li {
  display: inline-block;
  list-style: none;
  margin: 0.2em; 
  padding: 0;
}

nav.navi2 a {
  background-color: #D0ECEA;
  color: black;
  display: block;
  font-size: 12px;
  padding: 4px 8px;
  text-decoration: none;
}

nav.navi2 a:hover {
  background-color: #8B7A5E;
  color: white;
  display: block;
  text-shadow: 0px 1px 0px #2f6627;
}

nav.navi2 a.pressed { 
  background-color: #FFFEE4;
  color: black;
  display: block;
  font-size: 12px;
  padding: 4px 8px;
  text-shadow: 0px 1px 0px #2f6627;
}

/*** Navi 3 ***/

nav.navi3 ul {
  margin: 0; 
  text-align: center;
}

nav.navi3 li {
  display: inline-block;
  list-style: none;
  margin: 0.2em; 
  padding: 0;
}

nav.navi3 a {
  background-color: #D0ECEA;
  color: black;
  display: block;
  font-size: 11px;
  padding: 2px 4px;
  text-decoration: none;
}

nav.navi3 a:hover {
  background-color: #8B7A5E;
  color: white;
  display: block;
  text-shadow: 0px 1px 0px #2f6627;
}

nav.navi3 a.pressed { 
  background-color: #FFFEE4;
  color: black;
  display: block;
  font-size: 11px;
  padding: 2px 4px;
  text-shadow: 0px 1px 0px #2f6627;
}


/******************* Kopf 1***************************/

@media (max-width: 800px) {
  td.ue1 { font-size: 20px; }
  #kopf1 {
    font-size: 16px;
  }
}

@media (min-width: 800px) {
  td.ue1 { font-size: 28px; }
  #kopf1 {
    font-size: 18px;
  }
}


#kopf1 {
  color: black;
  margin: 5px;
  text-align: center;
}


/****************************************** Kopf 2 ***************************************/

@media (max-width: 640px) {
  #kopf2    { margin: 10px 0px; }
  #inhalt  { margin: 10px 0px; }
  .button2 { padding: 3px; }
}

@media (min-width: 640px) {
  #kopf2 { margin: 10px 30px; }
  #inhalt { margin: 10px 30px; }
  .button2{ padding: 5px; }
}

#kopf2 {
  color: #000000;
  font-size: 16px;
}
#kopf2 a {
  font-size: 16px;
}

#inhalt {
  background-color: #FFEFD3;
  font-size: 11px;
  padding: 10px;
  text-align: center;
  width: 100%-10px;
}


/************************ 2-Spaltig im Inhalt ***************************/

@media (max-width: 1000px) {
  .links { 
    width: 100%;
  }
  .rechts {
    width: 100%;
  }
  .clear {
  }
}

@media (min-width: 1000px) {
  .links { 
    float: left;
    width: 50%;
  }
  .rechts {
    float: right;
    width: 50%;
  }
  .clear {
    clear: both;
  }
}


/************************ Container ***************************/

@media (max-width: 640px) {
  .Container { width: 100%; }
}

@media (min-width: 640px) {
  .Container { width: 95%; }
}

.Container {
  background-color: #FFFEE4;
  border: 1px solid #6a6965;
  color: #000000;
  font-size: 80%;
  margin-bottom: 15px;
  padding: 0px;
  text-align: left;
}

.title {
  background-color: #8B7A5E;
  color: white;
  font-size: 12px;
  font-weight: bold;
  line-height: 30px;
  padding: 3px;
  text-align: left;
  vertical-align: middle;
}

.icon {
  border: 0px;
  padding: 0px;
}

.ContainerInhalt{
  font-size: 12px;
  padding-bottom: 22px;
  padding: 8px;
}

/******************************* Fuß **********************************/

#fuss {
  color: #000000;
  font-size: 11px;
  height: 20px;
  margin: 10px 30px;
  text-align: center;
  text-decoration: none;
}

@media (max-width: 640px) {
  .wait {
    background-size: 100px;
    margin-left: -180px;
    padding : 100px 20px 20px 20px;
  }
}
@media (min-width: 640px) {
  .wait {
    background-size: 150px;
    margin-left: -150px;
    padding : 250px 20px 20px 20px;
  }
}

.wait {
  background-color: white;
  background-image: url(../images/loading/loading_kiklo.gif);
  background-position: center 20px;
  background-repeat: no-repeat;
  border-style: 1px solid black;
  color: black;
  display: none;
  font-size: 16px;
  font-weight: bold;
  height: 30px;
  left: 50%;
  padding: 200px 20px 20px 20px;
  position: absolute;
  text-align: center;
  top: 200px;
  vertical-align: middle;
  width: 300px;
  z-index: 1;
}

blink
{
  color: red;  
  text-decoration: none;
}

.verbergen {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

.responsive_img {
  height: auto !important;
  width: 100% !important;
}

/* Tooltip */

a.tooltip { position: relative; text-decoration: none; } 
a.tooltip:after { content: attr(data-tooltip); width:300px; position: absolute; bottom: 130%; left: 20%; background: #ffcb66; padding: 5px 15px; color: black; -webkit-border-radius: 10px; -moz-border-radius : 10px; border-radius : 10px; white-space: nowrap; opacity: 0; -webkit-transition: all 0.4s ease; -moz-transition : all 0.4s ease; transition : all 0.4s ease; } 
a.tooltip:before { content: ""; position: absolute; width: 0; height: 0; border-top: 20px solid #ffcb66; border-left: 20px solid transparent; border-right: 20px solid transparent; -webkit-transition: all 0.4s ease; -moz-transition : all 0.4s ease; transition : all 0.4s ease; opacity: 0; left: 30%; bottom: 90%; } 
a.tooltip:hover:after { bottom: 100%; } 
a.tooltip:hover:before { bottom: 70%; } 
a.tooltip:hover:after, a:hover:before { opacity: 1; }

/********************************************* Tabelle **********************************************/

/* mit Umrandung grid für "richtige" Tabelle */
.tab1 {
  border-collapse: collapse;
  border: 1px solid;
}
.tab1 th, .tab1 td {
  border: 1px solid;
  padding: 2px 5px 2px 5px; 
}
.tab1 th {
  background-color: #E2E1C2;
  height: 28px;
}
.tab1 tr.striped {
  /* background-color: lightgrey; */
  background-color: #F2F1D5;
}

/* ohne Rand */
.tab2 {
}
.tab2 th, .tab2 td {
  padding: 1px 2px 1px 2px; 
}

.w100 {
  width: 100%;
}

table.tablesorter .header {
  background-image: url(../images/sort/bg.gif);
  background-repeat: no-repeat;
  background-position: right; 
  padding-right: 18px; 
}
table.tablesorter .headerSortUp {
  background-image: url(../images/sort/asc.gif);
  background-repeat: no-repeat;
  background-position: right; 
  padding-right: 18px; 
}
table.tablesorter .headerSortDown {
  background-image: url(../images/sort/desc.gif);
  background-repeat: no-repeat;
  background-position: right; 
  padding-right: 18px; 
}

/* KLeiner XXX AUSblenden */
@media (max-width:  300px) {  .kl300aus { display:none; visibility:hidden; }}
@media (max-width:  400px) {  .kl400aus { display:none; visibility:hidden; }}
@media (max-width:  500px) {  .kl500aus { display:none; visibility:hidden; }}
@media (max-width:  600px) {  .kl600aus { display:none; visibility:hidden; }}
@media (max-width:  700px) {  .kl700aus { display:none; visibility:hidden; }}
@media (max-width:  800px) {  .kl800aus { display:none; visibility:hidden; }}
@media (max-width:  900px) {  .kl900aus { display:none; visibility:hidden; }}
@media (max-width: 1000px) { .kl1000aus { display:none; visibility:hidden; }}
@media (max-width: 1100px) { .kl1100aus { display:none; visibility:hidden; }}
@media (max-width: 1200px) { .kl1200aus { display:none; visibility:hidden; }}


/******************************************** Scrollicon ********************************************/

.scrollicon {
  text-align: center;
  text-decoration: none;

  width: 50px;
  height: 50px;
  border-radius: 50%;

  background: #ccc;
  opacity: 0.5;

  position: fixed;
  bottom: 40px;
  right: 40px;
  display: none;
  border: 1px solid #333;
}
.scrollicon div {
  font-weight: bold;
  font-size: 28px;
  color: #333;
  padding-top: 12px;
}

/******************************************** Links ********************************************/

a   { text-decoration:none; } 
h2 { COLOR:#000000; TEXT-DECORATION:none; font-size:12pt;  margin-top: 0.5em; margin-bottom: 0.5em; text-align: center; }

/* blaue Links */
a.b:link        { color:#0000ff; text-decoration:none; }   /* nicht besuchte Seiten */
a.b:visited  { color:#0000ff; text-decoration:none; }   /* bereits besuchte Seiten */
a.b:hover      { color:#ff0000; text-decoration:none; }
a.b:active    { color:#0000ff; text-decoration:none; }   /* gerade angeklickte Verweise */

/* weisse links */
a.w:link        { color:#ffffff; text-decoration:none; }   /* nicht besuchte Seiten */
a.w:visited  { color:#ffffff; text-decoration:none; }   /* bereits besuchte Seiten */
a.w:hover      { color:#ff0000; text-decoration:none; }
a.w:active    { color:#ffffff; text-decoration:none; }   /* gerade angeklickte Verweise */
