/* Style: EasyPortal 2.0 org. 

Farben: 

body 
#kopf1
.button
.button:hover
.button_a

#kopf2
#inhalt
.button2
.button2:hover
.button2_a

.links
.rechts
.clear

.Container
.title
.icon
.ContainerInhalt

#fuss

.wait
.verbergen
.tab1

*/

* {       
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  list-style: none;
  margin: 0;
/*  padding: 0; */
  text-decoration: none;
}


body {
  /* #00006C  #304E80 #385B79*/
  background-image: url(../images/wallpaper.png);
  margin: 1px;
}

/********************* Navigation ********************/


nav.navi1 ul {
  margin: 0; 
  text-align: center;
}

nav.navi1 li {
  display: inline-block;
  list-style: none;
  margin: 0.2em; 
  padding: 0;
}

nav.navi1 a {
  background-color: #3bb3e0;
  background-image: linear-gradient(bottom, rgb(100,170,30) 0%, rgb(129,212,51) 100%);
  border-radius: 5px;
  box-shadow: inset 0px 1px 0px #156785, 0px 6px 0px #156785;
  color: black;
  display: block;
  font-size: 12px;
  margin: 4px 1px 4px 1px;
  padding: 4px 8px; 
  position: relative;
  text-decoration: none;
}

nav.navi1 a:hover {
  background-image: linear-gradient(bottom, rgb(100,170,30) 100%, rgb(129,212,51) 0%);
  background: rgb(44,160,202);
  box-shadow: inset 0px 1px 0px #156785, inset 0px -1px 0px #156785;
  color: red;
  display: block;
  text-shadow: 0px 1px 1px rgba(255,255,255,0.3);
  top: 7px;
}

nav.navi1 a.pressed { 
  background-color: #3bb3e0;
  background-image: linear-gradient(bottom, rgb(100,170,30) 100%, rgb(129,212,51) 0%);
  background: rgb(44,160,202);
  border-radius: 5px;
  box-shadow: inset 0px 1px 0px #156785, inset 0px -1px 0px #156785;
  color: black;
  display: block;
  font-size: 12px;
  padding: 4px 8px;
  position: relative;
  text-decoration: none;
  text-shadow: 0px 1px 1px rgba(255,255,255,0.3);
  top: 7px;
}

/*** Navi 2 ***/

nav.navi2 ul {
  margin: 0; 
  text-align: center;
}

nav.navi2 li {
  display: inline-block;
  list-style: none;
  margin: 0.2em; 
  padding: 0;
}

nav.navi2 a {
  background-color: #3bb3e0;
  background-image: linear-gradient(bottom, rgb(100,170,30) 0%, rgb(129,212,51) 100%);
  border-radius: 5px;
  box-shadow: inset 0px 1px 0px #156785, 0px 6px 0px #156785;
  color: black;
  display: block;
  font-size: 12px;
  margin: 4px 1px 4px 1px;
  padding: 4px 8px; 
  position: relative;
  text-decoration: none;
}

nav.navi2 a:hover {
  background-image: linear-gradient(bottom, rgb(100,170,30) 100%, rgb(129,212,51) 0%);
  background: rgb(44,160,202);
  box-shadow: inset 0px 1px 0px #156785, inset 0px -1px 0px #156785;
  color: red;
  display: block;
  text-shadow: 0px 1px 1px rgba(255,255,255,0.3);
  top: 7px;
}

nav.navi2 a.pressed { 
  background-color: #3bb3e0;
  background-image: linear-gradient(bottom, rgb(100,170,30) 100%, rgb(129,212,51) 0%);
  background: rgb(44,160,202);
  border-radius: 5px;
  box-shadow: inset 0px 1px 0px #156785, inset 0px -1px 0px #156785;
  color: black;
  display: block;
  font-size: 12px;
  padding: 4px 8px;
  position: relative;
  text-decoration: none;
  text-shadow: 0px 1px 1px rgba(255,255,255,0.3);
  top: 7px;
}


/*** Navi 3 ***/

nav.navi3 ul {
  margin: 0; 
  text-align: center;
}

nav.navi3 li {
  display: inline-block;
  list-style: none;
  margin: 0.2em; 
  padding: 0;
}

nav.navi3 a {
  background-color: #3bb3e0;
  background-image: linear-gradient(bottom, rgb(100,170,30) 0%, rgb(129,212,51) 100%);
  border-radius: 5px;
  box-shadow: inset 0px 1px 0px #156785, 0px 6px 0px #156785;
  color: black;
  display: block;
  font-size: 12px;
  margin: 4px 1px 4px 1px;
  padding: 4px 8px; 
  position: relative;
  text-decoration: none;
}

nav.navi3 a:hover {
  background-image: linear-gradient(bottom, rgb(100,170,30) 100%, rgb(129,212,51) 0%);
  background: rgb(44,160,202);
  box-shadow: inset 0px 1px 0px #156785, inset 0px -1px 0px #156785;
  color: red;
  display: block;
  text-shadow: 0px 1px 1px rgba(255,255,255,0.3);
  top: 7px;
}

nav.navi3 a.pressed { 
  background-color: #3bb3e0;
  background-image: linear-gradient(bottom, rgb(100,170,30) 100%, rgb(129,212,51) 0%);
  background: rgb(44,160,202);
  border-radius: 5px;
  box-shadow: inset 0px 1px 0px #156785, inset 0px -1px 0px #156785;
  color: black;
  display: block;
  font-size: 12px;
  padding: 4px 8px;
  position: relative;
  text-decoration: none;
  text-shadow: 0px 1px 1px rgba(255,255,255,0.3);
  top: 7px;
}


/******************* Kopf 1***************************/

@media (max-width: 750px) {
  td.ue1 { font-size: 20px; }
  #kopf1 {
    font-size: 16px;
  }
}

@media (min-width: 750px) {
  td.ue1 { font-size: 28px; }
  #kopf1 {
    font-size: 18px;
  }
}

td.ue1 { color: #FFF; }

#kopf1 {
  color: #fff;
  margin: 5px;
  text-align: center;
}


/****************************************** Kopf 2 ***************************************/

@media (max-width: 640px) {
  #kopf2    { margin: 10px 0px; }
  #inhalt  { margin: 10px 0px; }
}

@media (min-width: 640px) {
  #kopf2    { margin: 10px 30px; }
  #inhalt  { margin: 10px 30px; }
}

#kopf2 {
  color: #FFFFFF;
  font-size: 16px;
}
#kopf2 a {
  font-size: 16px;
}

#inhalt {
  /* #9db5dd */
  background-color: #9db5dd;
  font-size: 11px;
  padding: 10px;
  text-align: center;
  width: 100%-10px;
  height: 100%;
}


/************************ 2-Spaltig im Inhalt ***************************/

@media (max-width: 1000px) {
  .links { 
    vertical-align: middle
    width: 100%;
  }
  .rechts {
    vertical-align: middle
    width: 100%;
  }
  .clear {
  }
}

@media (min-width: 1000px) {
  .links { 
    float:left;
    width: 50%;
  }
  .rechts {
    float:right;
    width: 50%;
  }
  .clear {
    clear:both;
  }
}


/************************ Container ***************************/

@media (max-width: 640px) {
  .Container { width: 100%; }
}

@media (min-width: 640px) {
  .Container { width: 95%; }
}

.Container {
  /* #9db5dd */
  background-color: #9db5dd;
  border: 1px dashed #6a6965;
  color: #000000;
  font-size: 80%;
  margin-bottom: 15px;
  padding: 1px;
  text-align: left;
}

.title {
  background-image: url(../images/containerbg.jpg);
  color: white;
  font-size: 12px;
  font-weight: bold;
  line-height: 30px;
  padding: 3px;
  text-align: left;
  vertical-align:middle;
}

.icon {
  border: 0px;
  padding: 0px;
}

.ContainerInhalt{
  font-size: 12px;
  padding-bottom: 22px;
  padding: 8px;
}

/******************************* Fuß **********************************/

#fuss {
  color: #FFFFFF;
  font-size: 11px;
  height: 20px;
  margin: 10px 30px;
  text-align: center;
}

.wait {
  background-color : #3b5e7c;
  background-image: url(../images/loading/loading_easyportal_20.gif);
  background-position: center 5px;
  background-repeat: no-repeat;
  border-style: 1px solid black;
  color: #e5e5e7;
  display: none;
  font-size: 16px;
  font-weight: bold;
  height: 30px;
  left: 50%;
  margin-left: -150px;
  padding: 120px 20px 20px 20px;
  position: absolute;
  text-align: center;
  top: 200px;
  vertical-align: middle;
  width: 300px;
  z-index: 1;
}

blink
{
  color: red;  
  text-decoration:none;
}

.verbergen {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

.responsive_img {
  height: auto !important;
  width: 100% !important;
}


/******************************************* Spezielle Seiten ***************************************/

/* PChanger */
@media (max-width: 700px) {
  .pc_size { width: 110px; padding:2px;}
}
@media (min-width: 700px) {
  .pc_size { width: 180px; padding:4px; }
}



/********************************************* Tabelle **********************************************/
/* mit Umrandung grid für "richtige" Tabelle */

.tab1 {
  border: 1px solid;
  border-collapse:collapse;
  width: 100%;
}
.tab1 th, .tab1 td {
  border: 1px solid;
  padding: 2px 5px 2px 5px; 
}
.tab1 th {
  background-color: #849ECB;
  height: 28px;
}
.tab1 tr.striped {
  background-color: #BAD5FF;
}

.tab2 {
  width: 100%;
}
.tab2 th, .tab2 td {
  padding: 1px 2px 1px 2px; 
}

.w100 {
  width: 100%;
}

table.tablesorter .header {
  background-image: url(../images/sort/bg.gif);
  background-repeat: no-repeat;
  background-position: right; 
  padding-right: 18px; 
}
table.tablesorter .headerSortUp {
  background-image: url(../images/sort/asc.gif);
  background-repeat: no-repeat;
  background-position: right; 
  padding-right: 18px; 
}
table.tablesorter .headerSortDown {
  background-image: url(../images/sort/desc.gif);
  background-repeat: no-repeat;
  background-position: right; 
  padding-right: 18px; 
}

/* KLeiner XXX AUSblenden */
@media (max-width: 300px) { .kl300aus { display:none; visibility:hidden; }}
@media (max-width: 400px) { .kl400aus { display:none; visibility:hidden; }}
@media (max-width: 500px) { .kl500aus { display:none; visibility:hidden; }}
@media (max-width: 600px) { .kl600aus { display:none; visibility:hidden; }}
@media (max-width: 700px) { .kl700aus { display:none; visibility:hidden; }}
@media (max-width: 800px) { .kl800aus { display:none; visibility:hidden; }}
@media (max-width: 900px) { .kl900aus { display:none; visibility:hidden; }}
@media (max-width: 1000px) { .kl1000aus { display:none; visibility:hidden; }}
@media (max-width: 1100px) { .kl1100aus { display:none; visibility:hidden; }}
@media (max-width: 1200px) { .kl1200aus { display:none; visibility:hidden; }}

/******************************************** Scrollicon ********************************************/

.scrollicon {
  text-align: center;
  text-decoration: none;

  width: 50px;
  height: 50px;
  border-radius: 50%;

  background: #ccc;
  opacity: 0.5;

  position: fixed;
  bottom: 40px;
  right: 40px;
  display: none;
  border: 1px solid #333;
}
.scrollicon div {
  font-weight: bold;
  font-size: 28px;
  color: #333;
  padding-top: 12px;
}

/******************************************** Links ********************************************/

a   { text-decoration:none; } 
h2 { COLOR:#000000; TEXT-DECORATION:none; font-size:12pt;  margin-top: 0.5em; margin-bottom: 0.5em; text-align: center; }


/* blaue links */
a.b:link        { color:#0000ff; text-decoration:none; }   /* Nicht besuchte Seiten */
a.b:visited 	{ color:#0000ff; text-decoration:none; }   /* bereits besuchte Seiten */
a.b:hover      { color:#ff0000; }
a.b:active    { color:#0000ff; }                         /* gerade angeklickte Verweise */

/* weisse links */
a.w:link        { color:#ffffff; text-decoration:none; }   /* Nicht besuchte Seiten */
a.w:visited 	{ color:#ffffff; text-decoration:none; }   /* bereits besuchte Seiten */
a.w:hover      { color:#ff0000; }
a.w:active    { color:#ffffff; }                         /* gerade angeklickte Verweise */


